html 
{
    height: 100%
}

body 
{
    height: 100%;
    background-color: #5e8dba;
    text-align: center;
}

.hometownpage
{
    height: 100%;
    background-color: #cbc281;
    text-align: center;
}

.hobbiepage
{
    height: 100%;
    background-color: #63cd7c;
    text-align: center;
}

.aboutmepage
{
    height: 100%;
    background-color: #c25f49;
    text-align: center;
}

header h1
{
    padding: 3%;
}

head
{
    text-align: center;
    margin-top: 25px;
    border-radius: 10px;
}

nav
{
    text-justify: auto;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

nav li
{
    display: inline;
    margin: 0;
    padding: 0;
}

nav a
{
    padding-left: 20px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    display: inline-block;
    text-align: center;
    margin: 0;
    border: 2px solid black;
    border-radius: 10px;
    border-style: hidden;
    color: #333333;
    text-decoration: none;
}

nav a:hover
{
    color: #37435B;
    border: 2px solid #333333;
    border-radius: 10px;
    background-color: #A69CAC;
}

section
{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    gap: 6%;
}

.aboutmepage .column
{
    border: 1px solid black;
    border-radius: 10px;
    margin: 5%;
    padding: 10px 30px 30px 30px;
    width: 300px;
    height: 500px;
    background-color: azure;
}

.aboutmepage .column dl
{
    text-align: left;
}

.aboutmepage .column dt
{
    font-weight: bold;
}

.column
{
    border: 1px solid black;
    border-radius: 10px;
    margin: 5%;
    padding: 50px 30px 30px 30px;
    width: 150px;
}

.hobbiepage .column
{
    border: 1px solid black;
    border-radius: 10px;
    margin: 5%;
    padding: 10px 30px 30px 30px;
    background-color: rgb(115, 140, 140);
}

.homepage .column
{
    border: 1px solid black;
    border-radius: 10px;
    margin: 5%;
    width: 100%;
    background-color: rgb(81, 107, 118);
}

.hometownpage .column
{
    border: 1px solid black;
    border-radius: 10px;
    margin: 5%;
    padding: 50px 30px 30px 30px;
    width: 150px;
    background-color: #333333;
}

.hometownpage .column a
{
    color: white;
}

.hometownpage li
{
    color: #ffff;
    text-align: left;
}

.hometownpage .column
{
    font-family: 'Courier New', Arial;
}

.homepage .column li
{
    list-style: none;
    text-align: left;;
}

.column li ul li
{
    list-style: circle;
    padding: 5px;
    text-align: left;
}

.bottom img
{
    width: 300px;
}

.bottomaboutme img
{
    height: 500px;
}

.bottomhobbies img
{
    width: 500px;
}